// -----------------------------------------------------------------------------
// Sass переменные
// -----------------------------------------------------------------------------

//

//Color styles//
$color-light-xl: color #FFFFFF;
$color-light-l: color #F6F6F6;
$color-light-s: color #FAFAFA;
$color-dark-s: color #CDCDCD;
$color-dark-m: color #B2B2B2;
$color-dark-l: color #545454;
$color-dark-xl: color #4C4C4C;
$color-dark-2xl: color #444444;
$color-dark-3xl: color #292929;
$color-primary: color #F1CDB3;
$color-primary-light: color #FDDCC4;


//Styles for h#
$font-h: font Georgia , normal;

//Styles for p#
$font-p1: font Arial, normal;
$font-p1: font Arial, italic;