// -----------------------------------------------------------------------------
// Sass переменные
// -----------------------------------------------------------------------------
$default-font: Georgia , normal;



//Color styles//
$clr-light-xl: #FFFFFF;
$clr-light-l: #F6F6F6;
$clr-light-s: #FAFAFA;
$clr-dark-s: #CDCDCD;
$clr-dark-m: #B2B2B2;
$clr-dark-l: #545454;
$clr-dark-xl: #4C4C4C;
$clr-dark-2xl: #444444;
$clr-dark-3xl: #292929;
$clr-primary: #F1CDB3;
$clr-primary-light: #FDDCC4;


//Styles for p#
$font-p1: Arial, normal;
$font-p2: Arial, italic;

