.pets{
    height: 877px;
    background-color: $clr-light-l;
    display: flex;
        
    &__content{
        height: 697px;
        margin: 80px 40px 100px 40px;
        @include flex-column;
        @include items-center-center;}

    &__h3{
        width: 400px;
        height: 90px;
        font-weight: 400;
        font-size: 35px;
        margin: 0px;
        line-height: 130%;
        color: $clr-dark-l;
        letter-spacing: 0.06em;
        text-align: center;}

    &__slider{
        width: 1200px;
        height: 435px;
        margin-top: 60px;
        margin-bottom: 60px;
        @include flex-row;
        @include items-center-center;}

    &__slider-button{
        width: 52px;
        height: 52px;
        @include flex-column;
        @include items-center-center;
        box-sizing: border-box;
        padding: 23px 19px;
        border: 2px solid $clr-primary;
        border-radius: 100px;}

    &__arrow-left{
        color: $clr-dark-3xl;}

    &__arrow-right{
        color: $clr-dark-3xl;}

    &__slide-list{
        width: 990px;
        height: 435px;
        margin-left:53px;
        margin-right:53px;
        @include flex-row;
        @include items-center-space-between;}

    &__card{
        width: 270px;
        height: 435px;
        background-color: $clr-light-s;
        border-radius: 9px;
        @include flex-column;
        @include items-center-space-between;}

    &__title{
        font-family: $default-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $clr-dark-l;}

    &__card-button{
        width: 187px;
        height: 52px;
        gap: 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
        border: 2px solid $clr-primary;
        border-radius: 100px;
        font-family: $default-font;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: $clr-dark-3xl;}

    &__rest-button{
        width: 261px;
        height: 52px;
        padding: 0px;
        gap: 10px;
        background: $clr-primary;
        border-radius: 100px;
        font-family: $default-font;
        font-size: 17px;
        line-height: 130%;
        color: $clr-dark-3xl;
        letter-spacing: 0.06em;}
}