.start-screen{
    max-width: 100%;
    height: 69.53%;
    margin-bottom: 1.41%;
    @include flex-column;
    background-image: url('/src/assets/start-screen-background.jpg');
    
    &__top-header{
      max-height: 4.69%;
      @include flex-row;
      @include items-center-space-between;
      margin: 4.69% 3.12% 0% 3.12%;}

    &__title{
      font-weight: 400;
      font-family: $default-font;
      font-size: 32px;
      line-height: 110%; 
      letter-spacing: 0.06em;
      margin: 0% 0% 1.56% 0%;
      color: $clr-primary;}

    &__subtitle{
      font-weight: 400;
      font-family: $font-p1;
      margin: 0%;
      letter-spacing: 0.1em;
      font-size: 13px;
      line-height: 15px;
      color: $clr-light-xl;}

      // почему с процентами сжимается? //
    &__nav{
      width: 443px;
      height: 27px;
      margin: 1.25% 0% 1.25% 0%;
      @include flex-row;
      justify-content: space-between;}

    &__nav-link{
      color: $clr-dark-s;
      font-family: $font-p1;
      text-decoration: none;
    
      &_active{
        color: $clr-dark-s;
        font-family: $font-p1;
        border-color: $clr-primary;
        text-decoration:underline;
        text-decoration-color: $clr-primary;
        text-decoration-thickness: 3px;
        text-underline-offset: 0.5rem;}}

    &__content{
      max-width: 100%;
      height: 55.47%;
      @include flex-row;
      @include content-center-space-between;
      margin: 4.69% 3.12% 0% 3.12%;}

    &__content-info{
      max-width: 100%;
      height: 322px;
      @include flex-column;
      margin-top: 163px;
      justify-content: space-between;}

    &__h2{
      font-weight: 400;
      font-size: 44px;
      line-height: 130%;
      color: $clr-light-xl;
      margin: 0px;
      width: 310px;
      height: 114px;}

    &__p-info{ 
      width: 460px;
      height: 72px;
      margin: 0px;
      font-family: $font-p1;
      font-size: 15px;
      text-align: justify;
      color: $clr-dark-s;
      line-height: 24px;}
    
    &__button{
      @include button-primary-m;
      font-family: $default-font;
      color: $clr-dark-3xl;
      letter-spacing: 0.06em;
      font-size: 17px;}
    
    &__puppy{
      width: 698px;
      height: 710px;
      margin-left: 42px;
      background-image: url(/src/assets/start-screen-puppy.png);}
    
    }